
<ul>
<li>
    <div style="clear: both;">
    <div style="float: left">
        TAL Outstanding Graduates Scholarship
    </div>
    <div style="float: right">
        2019
    </div>
    <br>
    </div>
    
</li>

<li>
<div style="clear: both;">
    <div style="float: left">
        Outstanding Graduates Award, Sichuan Province
    </div>
    <div style="float: right">
        2019
    </div>
    <br>
    </div>
</li>

<li>
<div style="clear: both;">
    <div style="float: left">
        Microsoft Imagine Cup Champion Award, China
    </div>
    <div style="float: right">
        2018
    </div>
    <br>
    </div>
</li>

<li>
<div style="clear: both;">
    <div style="float: left">
        National Scholarship
    </div>
    <div style="float: right">
        2018
    </div>
    <br>
    </div>
</li> 

<li>
<div style="clear: both;">
    <div style="float: left">
        Sichuan University Scholarship
    </div>
    <div style="float: right">
        2016 - 2017 
    </div>
    <br>
    </div>
</li>

<li>
<div style="clear: both;">
    <div style="float: left">
        Admission to Innovation Class, Sichuan University 
    </div>
    <div style="float: right">
        2015
    </div>
    <br>
    </div>
</li>
</ul>



