<ul>
    <li>
    <div style="clear: both;">
        <div style="float: left">
          The Hong Kong Polytechnic University, Hong Kong S.A.R.
        </div>
        <div style="float: right">
          Sep. 2020 - Present
        </div>
        <br>
         M.Phil. in Computer Science
        <br>
        Advisor: <a href="http://www4.comp.polyu.edu.hk/~csxmwu/">Dr. Xiaoming Wu</a> 
      </div>
    </li>
    <li>
        <div style="clear: both;">
            <div style="float: left">
                Machine Intelligence Laboratory, Sichuan University, China
            </div>
            <div style="float: right">
              Oct. 2018 - Dec. 2019
            </div>
            <br>
            Research Intern
            <br> 
            Topic: Assisting radiotheraphy planning via deep nueral networks
            <br>
            Advisor: <a href="https://scholar.google.com/citations?user=RaqG37kAAAAJ&hl=zh-CN">Prof. Yi Zhang</a> 
          </div>
        </li>
    <li>
        <div style="clear: both;">
            <div style="float: left">
              Sichuan University, Chengdu, China
            </div>
            <div style="float: right">
              Sep. 2015 - June. 2019
            </div>
            <br>
            B.Eng. in Software Engineering
          </div>
        </li>
    </ul>    
