
<div style="clear: both;">   
    <img src="/assets/img/vilbert.png" style="float: left; padding-top: 30px" height="130" width="200"  alt="">
    <div style="float: right; width: 77%; ">
    <div >
        <strong> Medical-BERT: Cross-modal Pre-training with Medical Image-Text Data
        </strong>
    </div>
    <div style= "padding-top: 8px;">
        Advisor: Xiaoming Wu | The Hong Kong Polytechnic University | Jun. 2021 - Present
    </div>
    <div style="padding-top: 8px;">
        While vision-and-language tasks in the medical domain have extensive benefits, their development is still at the initial stage 
        due to the limitations of current benchmarks, e.g., no visual bounding boxes. Therefore, we investigate how to design useful pre-tasks
         to pre-train a cross-modal BERT with external image-text data for downstream tasks in the medical domain: 
         (1) Visual question answering; (2) Image-Text retrieval; (3) Image caption generation
        
        <br>
        [Code] 
    </div>
    </div>
    </div>


<div style="clear: both; padding-top: 20px;">
    <div style="float: left; margin-right: 1em;">
    <img src="/assets/img/med-vqa.png" height="120" width="200" alt="">
    </div>
    <div style="padding-left: 10em ;">
    <strong>Introducing A New Benchmark and Building A Medical Knowledge Graph for Med-VQA
        </strong>
    <br>
    Advisor: Xiaoming Wu | The Hong Kong Polytechnic University | Jun. 2021 - Nov. 2021
    <br>
    
    <br>
    [<a>PDF</a>] [<a>Code</a>] 
    </div>
</div>




<div style="clear: both;">
<div style="float: left; margin-right: 1em;">
    <img src="/assets/img/med-vqa.png" height="120" width="200" alt="">
</div>
<div style="padding-left: 10em ;">
    <strong>Medical Image Question Answering
    </strong>
    <br>
    Advisor: Xiaoming Wu | The Hong Kong Polytechnic University | May 2020 - Present
    <br>
    
    <br>
    [<a>PDF</a>] [<a>Code<sup>1</sup></a>] 
</div>
</div>



<div style="clear: both;">
<div style="float: left; margin-right: 1em;">
    <img src="assets/img/ctv.png" height="130" width="200" alt="">
</div>
<div style="padding-left: 10em ;">
    <strong>Automated Contouring of Esophagus Clinical Target Volumes and Organs at Risk by Using Deep Neural Networks
    </strong>
    <br>
    Advisor: Yi Zhang | Sichuan University | Jun. 2019 - Dec. 2019
    <br>
    [<a>PDF</a>] [<a>Code</a>] 
</div>
</div>

<div style="clear: both;">
<div style="float: left; margin-right: 1em;">
    <img src="assets/img/abnormal.png" height="130" width="200" alt="">
</div>
<div style="padding-left: 10em ;">
    <strong>Abnormal Image Detection in Plant Image Dataset</strong> 
    <br>
    Advisor: Yi Zhang | Sichuan University | Jan. 2019 - May 2019
    <br>
    [<a href="assets/papers/ACL-2021-OOS.pdf">PDF</a>] [<a href="https:// github.com/liam0949/DCLOOS">Code</a>] 
</div>
</div>

